.modal {
  position: fixed;
  top: 25%;
  left: 37.5%;
  padding: 1rem;
  display: none;
  height: 500px;
  width: 500px;
  display: none;
}

.modal-content {
  max-width: 28rem;
  height: 100%;
  width: 100%;
  background: var(--blur-color);
  backdrop-filter: var(--blur-intensity);
  border: 1px solid var(--blur-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.modal p {
  color: white;
  margin-bottom: 1.5rem;
}

.modal-card-scrollable-container{
  height: 90%;
  overflow: auto;
}


.modal-card-scrollable-container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px; 
}

.modal-card-scrollable-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}



/*MODAL CARD*/
.modal-card{
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.song-info-container{
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-left: 0.5rem;
  padding-top: 1.15rem;
}

.song-info-container h3{
  color: white;
  max-width: 230px;
  font-size: 1rem;

}

.song-info-container div{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 80%;
}

.song-info-container img{
  width: 70px;
  border-radius: 10px;
}

.close-button {
  height: 35px;
  width: 35px; 
  background: var(--lighter-blur-color);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

